.progress {
    height: inherit;
    background-color: rgba(0, 188, 212, 0.19);
    transition: width 500ms linear;
    text-align: center;
    max-width: 100%;
    font-weight: bold;
}
.container {
    max-width: 1024px;
    background-color: white;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 100%;
}
.ctrlBtns {
    margin-top: 1%;
}
button {
    margin-right: 1%;
    min-width:5%;
    min-height: 35px;
    cursor: pointer;
}
@media only screen and (max-width: 320px) {
    body {
        background-color: lightblue;
    }
};